.card-panel
  %h5
    Team Count -
    = @teams.count
  %table.bordered.responsive-table
    %thead
      %tr
        %th{'data-field': 'id'} Name
        %th{'data-field': 'id'} Steam ID
        %th{'data-field': 'id'} Country

    %tbody
      - @teams.each do |team|
        %tr
          %td= link_to team.name, team
          %td= team.gcteam_id
          %td= find_country(team.country_code)

= will_paginate @teams,  renderer: MaterializePagination::Rails
