.card-panel
  %h4.center
    = @team.name
  .spacer
  .row
    .col.s3
      = image_tag(team_avatar(@team))
    .col.s4
      .row
        Best KDA :
        = link_to @team.best_kda[:detail], @team.best_kda[:match]
      .row
        Longest Match :
        = link_to convert_to_mins(@team.longest_match[:detail]), @team.longest_match[:match]
      .row
        Most Kills :
        = link_to @team.most_kills[:detail], @team.most_kills[:match]
      .row
        Most Assists :
        = link_to @team.most_assists[:detail], @team.most_assists[:match]
      .row
        Most Last Hits :
        = link_to @team.most_last_hits[:detail], @team.most_last_hits[:match]
      .row
        Most Denies :
        = link_to @team.most_denies[:detail], @team.most_denies[:match]
    .col.s4
      .row
        Most Gold :
        = link_to @team.most_gold[:detail], @team.most_gold[:match]
      .row
        Most Hero Damage :
        = link_to @team.most_hero_damage[:detail], @team.most_hero_damage[:match]
      .row
        Most Hero Healing :
        = link_to @team.most_hero_healing[:detail], @team.most_hero_healing[:match]
      .row
        Most Tower Damage :
        = link_to @team.most_tower_damage[:detail], @team.most_tower_damage[:match]
      .row
        Highest GPM :
        = link_to @team.highest_gpm[:detail], @team.highest_gpm[:match]
      .row
        Highest XPM :
        = link_to @team.highest_xpm[:detail], @team.highest_xpm[:match]

  .row
    = will_paginate @team_matches,  renderer: MaterializePagination::Rails
    %table.bordered
      %thead
        %tr
          %th{'data-field': 'id'} Match ID
          %th{'data-field': 'id'} Winner
      %tbody
        - @team_matches.each do |match|
          %tr
            %td= link_to match.gcmatch_id, match
            %td= is_team_winner?(@team, match)
