.card-panel
  %h5
    League Count -
    = @leagues.count
  %table.bordered.responsive-table
    %thead
      %tr
        %th{'data-field': 'id'} Name
        %th{'data-field': 'id'} Steam ID
        %th{'data-field': 'id'} Website

    %tbody
      - @leagues.each do |league|
        %tr
          %td= link_to league.name, league
          %td= league.gcleague_id
          %td= link_to league.url, league.url

= will_paginate @leagues,  renderer: MaterializePagination::Rails
