.card-panel
  %h4.center
    =link_to @league.name, @league.url
  .spacer
  .row
    .col.s4.offset-s3
      .row
        Best KDA :
        = link_to @league.best_kda[:detail], @league.best_kda[:match]
      .row
        Longest Match :
        = link_to convert_to_mins(@league.longest_match[:detail]), @league.longest_match[:match]
      .row
        Most Kills :
        = link_to @league.most_kills[:detail], @league.most_kills[:match]
      .row
        Most Assists :
        = link_to @league.most_assists[:detail], @league.most_assists[:match]
      .row
        Most Last Hits :
        = link_to @league.most_last_hits[:detail], @league.most_last_hits[:match]
      .row
        Most Denies :
        = link_to @league.most_denies[:detail], @league.most_denies[:match]
    .col.s4
      .row
        Most Gold :
        = link_to @league.most_gold[:detail], @league.most_gold[:match]
      .row
        Most Hero Damage :
        = link_to @league.most_hero_damage[:detail], @league.most_hero_damage[:match]
      .row
        Most Hero Healing :
        = link_to @league.most_hero_healing[:detail], @league.most_hero_healing[:match]
      .row
        Most Tower Damage :
        = link_to @league.most_tower_damage[:detail], @league.most_tower_damage[:match]
      .row
        Highest GPM :
        = link_to @league.highest_gpm[:detail], @league.highest_gpm[:match]
      .row
        Highest XPM :
        = link_to @league.highest_xpm[:detail], @league.highest_xpm[:match]

  .row
    %h5 League Matches
    = will_paginate @league_matches,  renderer: MaterializePagination::Rails
    %table.bordered
      %thead
        %tr
          %th{'data-field': 'id'} Match ID
          %th{'data-field': 'id'} Team Radiant
          %th{'data-field': 'id'} Team Dire
      %tbody
        - @league_matches.each do |match|
          %tr
            %td= link_to match.gcmatch_id, match
            %td= find_team(match.radiant_team)
            %td= find_team(match.dire_team)

    .spacer
    %h5 League Teams
    = will_paginate @league_teams,  renderer: MaterializePagination::Rails
    %table.bordered
      %thead
        %tr
          %th{'data-field': 'id'} Steam ID
          %th{'data-field': 'id'} Name
          %th{'data-field': 'id'} Country
      %tbody
        - @league_teams.each do |team|
          %tr
            %td= link_to team.gcteam_id, team
            %td= team.name
            %td= find_country(team.country_code)
