.card-panel
  %h5
    Player Count -
    = @players.count
  %table.bordered.responsive-table
    %thead
      %tr
        %th{'data-field': 'id'} Steam Nickname
        %th{'data-field': 'id'} Official Name
        %th{'data-field': 'id'} Team
        %th{'data-field': 'id'} Steam ID

    %tbody
      - @players.each do |player|
        %tr
          %td= link_to player.steam_nickname, player
          %td= player.name
          %td= player.team.name
          %td= player.steam_32

= will_paginate @players,  renderer: MaterializePagination::Rails
