.card-panel
  %h4.center
    =link_to @player.steam_nickname, custom_url(@player.steam_32)
    &mdash;
    = link_to @player.team.name, @player.team
  .spacer  
  .row
    .col.s3
      = image_tag(avatar(@player.steam_32))
    .col.s4
      .row
        Best KDA :
        = link_to @player.best_kda[:detail], @player.best_kda[:match]
      .row
        Longest Match :
        = link_to convert_to_mins(@player.longest_match[:detail]), @player.longest_match[:match]
      .row
        Most Kills :
        = link_to @player.most_kills[:detail], @player.most_kills[:match]
      .row
        Most Assists :
        = link_to @player.most_assists[:detail], @player.most_assists[:match]
      .row
        Most Last Hits :
        = link_to @player.most_last_hits[:detail], @player.most_last_hits[:match]
      .row
        Most Denies :
        = link_to @player.most_denies[:detail], @player.most_denies[:match]
    .col.s4
      .row
        Most Gold :
        = link_to @player.most_gold[:detail], @player.most_gold[:match]
      .row
        Most Hero Damage :
        = link_to @player.most_hero_damage[:detail], @player.most_hero_damage[:match]
      .row
        Most Hero Healing :
        = link_to @player.most_hero_healing[:detail], @player.most_hero_healing[:match]
      .row
        Most Tower Damage :
        = link_to @player.most_tower_damage[:detail], @player.most_tower_damage[:match]
      .row
        Highest GPM :
        = link_to @player.highest_gpm[:detail], @player.highest_gpm[:match]
      .row
        Highest XPM :
        = link_to @player.highest_xpm[:detail], @player.highest_xpm[:match]

  .row
    = will_paginate @player_matches,  renderer: MaterializePagination::Rails
    %table.bordered
      %thead
        %tr
          %th{'data-field': 'id'} Match ID
          %th{'data-field': 'id'} Hero
          %th{'data-field': 'id'} Winner
      %tbody
        - @player_matches.each do |match|
          %tr
            %td= link_to match.gcmatch_id, match
            %td= find_hero(find_detail(@player, match).hero_id)
            %td= is_winner?(@player, match)
