%h5.center Dire
.center.red-text.text-darken-2 #{@match.dire.name}
%ul.collection
  - @match.dire.players.each do |player|
    %li.collection-item
      = image_tag(avatar(player.id), class: 'avatar')
      = link_to(find_nickname(player.id), custom_url(player.id))
