%h3.center #{@match.radiant.name} vs #{@match.dire.name}
%h5.center
  %span.red-text #{winner(@match.winner)}
  Victory !
%p.center Match Type: #{@match.type}
%p.center Match Mode: #{@match.mode}
%p.center Match Mode: #{@match.starts_at}
