#modal1.modal
  .modal-content
    %h4.center Enter Match ID
    .row
      .col.s6.offset-s3
        .input-field
          %input#match_id.validate{:type => "number"}
          %label{:for => "match_id"} Match ID
        .center
          %a.waves-effect.waves-light.btn.red.lighten-2#submit Submit
