%h5.center Radiant
.center.green-text #{@match.radiant.name}
%ul.collection
  - @match.radiant.players.each do |player|
    %li.collection-item
      = image_tag(avatar(player.id), class: 'avatar')
      = link_to(find_nickname(player.id), custom_url(player.id))
