:plain
  $('#match-details').html("#{escape_javascript(render 'match_details')}");
  $('#radiant').html("#{escape_javascript(render 'radiant')}");
  $('#dire').html("#{escape_javascript(render 'dire')}");
