.card-panel
  %h5
    Match Count -
    = @matches.count
  %table.bordered.centered.responsive-table
    %thead
      %tr
        %th{'data-field': 'id'} ID
        %th{'data-field': 'id'} Type
        %th{'data-field': 'id'} Mode
        %th{'data-field': 'id'} Duration
        %th{'data-field': 'id'} Radiant
        %th{'data-field': 'id'} Dire
        %th{'data-field': 'id'} Winner
    %tbody
      - @matches.each do |match|
        %tr
          %td= link_to match.gcmatch_id, match
          %td= lobby_type(match.type_id)
          %td= game_mode(match.mode_id)
          %td= convert_to_mins(match.duration)
          %td= find_team(match.radiant_team)
          %td= find_team(match.dire_team)
          %td= find_winner_team(match.winner, match.id)
= will_paginate @matches,  renderer: MaterializePagination::Rails
