= render 'fab'
= render 'modal_match_id'

.row
  .col.s12
    .card-panel.white#match-details
      %h4.center Match Details
.row
  .col.s6
    .card-panel.white#radiant
      %h5.center Radiant
  .col.s6
    .card-panel.white#dire
      %h5.center Dire

:coffeescript
  $('.modal-trigger').leanModal()
  $('#submit').on 'click', ->
    $('#modal1').closeModal()
    $('#match-details').html("#{escape_javascript(render 'preloader')}")
    $('#radiant').html("#{escape_javascript(render 'preloader')}")
    $('#dire').html("#{escape_javascript(render 'preloader')}")
    $.ajax
      url: '#{matches_path}'
      data: match_id: $('#match_id').val()
      type: 'POST'
    return
