.card-panel
  %h5.center
    Match ID :
    = @match.gcmatch_id
  %h5.center
    League :
    = link_to @match.league.name, @match.league
  %h5.center{class: faction_color(@match.winner)}
    = find_winner_team(@match.winner, @match.id )
    Victory!
  - @factions.each do |faction|
    %h5{class: faction_color(faction)}= find_faction_team(faction, @match)
    %table.bordered
      %thead
        %tr
          %th{'data-field': 'id'} Player
          %th{'data-field': 'id'} Hero
          %th{'data-field': 'id'} Level
          %th{'data-field': 'id'} K
          %th{'data-field': 'id'} D
          %th{'data-field': 'id'} A
          %th{'data-field': 'id'} KDA
          %th{'data-field': 'id'} Gold
          %th{'data-field': 'id'} LH
          %th{'data-field': 'id'} DN
          %th{'data-field': 'id'} XPM
          %th{'data-field': 'id'} GPM
          %th{'data-field': 'id'} HD
          %th{'data-field': 'id'} HH
          %th{'data-field': 'id'} TD
          %th{'data-field': 'id'} Items
      %tbody
        - players(@match.id, faction).each do |detail|
          %tr
            %td= link_to Player.find(detail.player_id).steam_nickname, Player.find(detail.player_id)
            %td= find_hero(detail.hero_id)
            %td= detail.level
            %td= detail.kills
            %td= detail.deaths
            %td= detail.assists
            %td= find_kda(detail.kills, detail.deaths, detail.assists)
            %td= detail.gold
            %td= detail.last_hits
            %td= detail.denies
            %td= detail.xpm
            %td= detail.gpm
            %td= detail.hero_damage
            %td= detail.hero_healing
            %td= detail.tower_damage
            %td
              - find_item(detail.id).each do |item|
                = image_tag(item, class: "item-container")
