nav {
  margin-bottom: 30px;
}
.avatar {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  margin-bottom: -5px;
}
input[type=number] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  text-align: center;
}
.input-field label {
  left: 40% !important;
  &.active{
    transform: translate(15%, -135%) !important;;
  }
}

.item-container{
  height: auto;
  width: 10%;
}

.pagination a li.active {
    color: #fff;
}

.avatar-large{
  display: inline-table;
}

.spacer{
  margin-top: 25px;
}
