!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DOTA 2
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.grey.lighten-3
    %nav
      .nav-wrapper
        %a.brand-logo.center{:href => root_path } DOTA 2 Match Analyser
        %ul#nav-mobile.right
          %li
            %a{href: leagues_path} Leagues
          %li
            %a{href: matches_path} Matches
          %li
            %a{href: players_path} Players
          %li
            %a{href: teams_path} Teams
    .container
      = yield
<!--Devinda Senanayake-->
